{% extends 'Loged_base.html' %}

{% block content %}



<h3>Top 3 Destinations in past 3 months</h3><br/>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Destination</th>
        </tr>
    </thead>
    <tbody>
    {% for i in range(3) %}
        <tr>
            <td>{{i+1}}</td>
            <td>{{top3_monthly[i]}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>



<h3>Top 3 Destinations in past year</h3><br/>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Destination</th>
        </tr>
    </thead>
    <tbody>
    {% for i in range(3) %}
        <tr>
            <td>{{i+1}}</td>
            <td>{{top3_annually[i]}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}